<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syncworks.slight" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BleSetActivity"
            android:label="@string/title_activity_ble_set" >
        </activity>
        <activity
            android:name=".TimerSetActivity"
            android:label="@string/title_activity_timer_set" >
        </activity>
        <activity
            android:name=".LedEffectActivity"
            android:label="@string/title_activity_led_effect" >
        </activity>
    </application>

</manifest>
